.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding-top: 80px;
    /* Header height */
}

@media (max-width: 768px) {
    .main {
        padding-top: 80px;
    }
}